// *******************************************************
// Fill SCSS File
// -------------------------------------------------------
// This file contains all our fill colors for the sass components
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
@keyframes opacity-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes opacity-out {
    100% { opacity: 0; }
}

.opacityIn {
    opacity: 0;
    animation: opacity-in 2s linear 0s 1 forwards;
}

.opacityOut {
    opacity: 1;
    animation: opacity-out 2s linear 1s 1 forwards;
}


// --------------------------------
