// *******************************************************
// Colors Style Guide
// -------------------------------------------------------
// This file contains the different colors and their names
// that are used across the application
//
// How To Use:
// Import this file into your required SCSS file and use
// the map to generate the required styling,
//
// First Color: The base color
// Second Color: The highlight/hover for the base color
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
$colors: (
    red: #ff0000,
    plum: #695585,
    lightPlum: #796690,
    lavendar: #B0A3BD,
    darkPurple: #52416B,
    purple: #944f90,
    darkPurpleAlt: #584770,
    greyPurple: #978DA1,
    offWhite: #f8f9f4,
    white: #fff,
    grey: #cdc5d5,
    transparent: transparent,
    green: #05ab8c,
    greenTwo: #008f76,
    greenThree: #005b49,
    greenFour: #55676f,
    greenFive: #9cbf6e,
    greenSix: #b6dad0,
    lightBlack: #231f20,
    pink: #e77c8d,
    lightRed: #fe6768,
    lightRedOutline: #f15f64,
    itemGreyA: #ebf0ef,
    itemGreyB: #dce0df,
    itemGreyC: #b8c2c2,
    eggBrown: #f3b296,
    eggBrownShade: #f3a275,
    cerealBrown: #aa612c,
    cerealBrownShade: #e29647,
    cerealBrownLight: #d6cabd,
    cerealBrownLighter: #f5f0ee,
    trolleyPink: #d94d4c,
    trolleyOffWhite: #faeddf,
    trolleyGreen: #34bcb2,
    trolleyGrey: #2c3e50,
    juiceRed: #ff6526,
    juiceOrange: #ffa83a,
    juiceOrangeAlt: #fe8b28,
    juiceOffWhite: #e8e1dc,
    juiceOffWhiteAlt: #d6cabd,
    sodaOffWhite: #ede0d9,
    sodaBrown: #6b4242,
    sodaRed: #db3b3d,
    sodaBrownAlt: #99524f,
    sodaOffWhiteAlt: #f2f2f2,
    tunaGrey: #bac9db,
    tunaBlue: #2982ba,
    tunaOffWhite: #f5f0ee,
    riceOffWhite: #d6cabd,
    riceBlue: #209bc3,
    riceGrey: #ecf0f1,
    chocoBarBlue: #54bfe0,
    chocoBarBrownA: #8a4d36,
    chocoBarBrownB: #b86b3b,
    chocoBarBrownC: #a1593b,
    chocoBarLightBrownA: #f2e8d1,
    chocoBarLightBrownB: #f0a363,
    chocoBarLightBrownC: #f2cfb0,
    cupcakeGreen: #75c287,
    cupcakePinkA: #eb5c75,
    cupcakePinkB: #eb3d52,
    cupcakeOrange: #f0ab4a,
    cupcakePinkC: #eb4a63,
    cupcakePinkD: #f2adc4,
    chipsGreenA: #b6b72d,
    chipsGreenB: #9b9823,
    chipsGreenC: #e5f4e5,
    chipsLightBrown: #d8a62b,
    chipsBrown: #b15816,
    rollBrown: #b9825f,
    rollOffWhite: #f2f2d6,
)

:export {

}
// --------------------------------
