// *******************************************************
// Colors Style Guide
// -------------------------------------------------------
// This file contains the different colors and their names
// that are used across the application
//
// How To Use:
// Import this file into your required SCSS file and use
// the map to generate the required styling,
//
// First Color: The base color
// Second Color: The highlight/hover for the base color
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
$colors: (
    red: #ff0000,
    plum: #695585,
    lightPlum: #796690,
    lavendar: #B0A3BD,
    darkPurple: #52416B,
    purple: #944f90,
    darkPurpleAlt: #584770,
    greyPurple: #978DA1,
    offWhite: #f8f9f4,
    white: #fff,
    grey: #cdc5d5,
    transparent: transparent,
    green: #05ab8c,
    greenTwo: #008f76,
    greenThree: #005b49,
    greenFour: #55676f,
    greenFive: #9cbf6e,
    greenSix: #b6dad0,
    lightBlack: #231f20,
    pink: #e77c8d,
    lightRed: #fe6768,
    lightRedOutline: #f15f64,
    itemGreyA: #ebf0ef,
    itemGreyB: #dce0df,
    itemGreyC: #b8c2c2,
    eggBrown: #f3b296,
    eggBrownShade: #f3a275,
    cerealBrown: #aa612c,
    cerealBrownShade: #e29647,
    cerealBrownLight: #d6cabd,
    cerealBrownLighter: #f5f0ee,
    trolleyPink: #d94d4c,
    trolleyOffWhite: #faeddf,
    trolleyGreen: #34bcb2,
    trolleyGrey: #2c3e50,
    juiceRed: #ff6526,
    juiceOrange: #ffa83a,
    juiceOrangeAlt: #fe8b28,
    juiceOffWhite: #e8e1dc,
    juiceOffWhiteAlt: #d6cabd,
    sodaOffWhite: #ede0d9,
    sodaBrown: #6b4242,
    sodaRed: #db3b3d,
    sodaBrownAlt: #99524f,
    sodaOffWhiteAlt: #f2f2f2,
    tunaGrey: #bac9db,
    tunaBlue: #2982ba,
    tunaOffWhite: #f5f0ee,
    riceOffWhite: #d6cabd,
    riceBlue: #209bc3,
    riceGrey: #ecf0f1,
    chocoBarBlue: #54bfe0,
    chocoBarBrownA: #8a4d36,
    chocoBarBrownB: #b86b3b,
    chocoBarBrownC: #a1593b,
    chocoBarLightBrownA: #f2e8d1,
    chocoBarLightBrownB: #f0a363,
    chocoBarLightBrownC: #f2cfb0,
    cupcakeGreen: #75c287,
    cupcakePinkA: #eb5c75,
    cupcakePinkB: #eb3d52,
    cupcakeOrange: #f0ab4a,
    cupcakePinkC: #eb4a63,
    cupcakePinkD: #f2adc4,
    chipsGreenA: #b6b72d,
    chipsGreenB: #9b9823,
    chipsGreenC: #e5f4e5,
    chipsLightBrown: #d8a62b,
    chipsBrown: #b15816,
    rollBrown: #b9825f,
    rollOffWhite: #f2f2d6,
    pastaRed: #ff3502,
    pastaGreyA: #ede5f4,
    pastaGreyB: #fefefd,
    pastaYellowA: #fcd54e,
    pastaYellowB: #fcdd64,
    pastaYellowC: #fbe796,
    pastaYellowD: #fce693,
    pastaYellowE: #fcde68,
    pastaYellowF: #fcc104,
    breadYellowA: #f9b654,
    breadYellowB: #e8d1a2,
    breadYellowC: #fdce6c,
    breadBrown: #b84500,
    steakBrownA: #a35240,
    steakBrownB: #c77d40,
    steakBrownC: #f7e8d4,
    steakPinkA: #e59ca3,
    steakPinkB: #d16b7a,
    steakPinkC: #c77d82,
    baconBrownA: #ffe6c9,
    baconBrownB: #e6b8a1,
    baconPinkA: #ffa1a1,
    baconPinkB: #f09e8c,
    baconPinkC: #ffebdb,
    baconPinkD: #c77d82,
    baconPinkE: #ffefe0,
    milkWhite: #ecf0f1,
    milkBlueA: #4c9bc4,
    milkBlueB: #77b9db,
    yoghurtBlueA: #01959f,
    yoghurtGreyA: #bdb6aa,
    yoghurtGreyB: #e0eef1,
    yoghurtBlueB: #2fbfc7,
    cheeseYellowA: #ffc84b,
    cheeseYellowB: #ffa83a,
    tofuGreyA: #e5e5e5,
    tofuGreyB: #ccc,
    tofuGreyC: #dbdbde,
    tofuGreyD: #f2f2f2,
    tofuYellowA: #ffa84a,
    tofuGreenA: #87a800,
    tofuGreenB: #abcccc,
    tofuGreenC: #639100,
    tofuGreenD: #75a800,
    iceCreamGreenA: #9cd99e,
    iceCreamBrownA: #edc46e,
    iceCreamBrownB: #e8d1b5,
    iceCreamBrownC: #ffd46e,
    iceCreamBrownD: #a0642f,
    appleBrown: #c7ab5d,
    appleRed: #de382e,
    appleGreenA: #91a63b,
    appleGreenB: #d6e0bf,
    orangeGreenA: #82a63b,
    orangeGreenB: #dbd9bf,
    orangeA: #ed7a1f,
    orangeGreenC: #dec4a3,
    orangeB: #ffad00,
    tomatoRedA: #f24954,
    tomatoRedB: #da3741,
    tomatoGreen: #6c8000,
    tomatoBrownA: #fcdee0,
    tomatoBrownB: #bf7b00,
    tomatoBrownC: #ffa147,
    tomatoBrownD: #ad7106,
    tomatoBrownE: #fee6ba,
    potatoBrownA: #be8d4a,
    potatoBrownB: #b08143,
    potatoBrownC: #b88848,
    potatoBrownD: #d6a361,
    potatoBrownE: #ab7d41,
    potatoBrownF: #b84500,
    bananaYellowA: #ffcf17,
    bananaYellowB: #f8ac00,
    bananaBlackA: #273e45,
    bananaGreenA: #90a82a,
    bananaGreenB: #9eb53c,
    bananaBrownA: #7f4b21,
    bananaBrownB: #99623d,
    bananaGreenC: #73b017,
    grapePurpleA: #8c6196,
    grapePurpleB: #9e70a1,
    grapeGreen: #82a63b,
    cherryRedA: #9e1a2b,
    cherryRedB: #b01a3d,
    cherryBrownA: #cfaa90,
    cherryBrownB: #e3b057,
    cherryGreenA: #69a63b,
    cherryGreenB: #bad985,
    avocadoGreenA: #c7c45d,
    avocadoGreenB: #3e472b,
    avocadoGreenC: #7a993b,
    pineappleGreenA: #618557,
    pineappleGreenB: #61a857,
    pineappleYellowA: #dec22b,
    pineappleBrownA: #ebe3cc,
    pineappleBrownB: #db9565,
)

:export {

}
// --------------------------------
