// *******************************************************
// Colors Style Guide
// -------------------------------------------------------
// This file contains the different colors and their names
// that are used across the application
//
// How To Use:
// Import this file into your required SCSS file and use
// the map to generate the required styling,
//
// First Color: The base color
// Second Color: The highlight/hover for the base color
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
$colors: (
    red: #ff0000,
    plum: #695585,
    lightPlum: #796690,
    lavendar: #B0A3BD,
    darkPurple: #52416B,
    purple: #944f90,
    darkPurpleAlt: #584770,
    greyPurple: #978DA1,
    offWhite: #f8f9f4,
    white: #fff,
    grey: #cdc5d5,
    transparent: transparent,
    green: #05ab8c,
    greenTwo: #008f76,
    greenThree: #005b49,
    greenFour: #55676f,
    greenFive: #9cbf6e,
    greenSix: #b6dad0,
    lightBlack: #231f20,
    pink: #e77c8d,
    lightRed: #fe6768,
    lightRedOutline: #f15f64,
    itemGreyA: #ebf0ef,
    itemGreyB: #dce0df,
    itemGreyC: #b8c2c2,
    eggBrown: #f3b296,
    eggBrownShade: #f3a275,
    cerealBrown: #aa612c,
    cerealBrownShade: #e29647,
    cerealBrownLight: #d6cabd,
    cerealBrownLighter: #f5f0ee,
    trolleyPink: #d94d4c,
    trolleyOffWhite: #faeddf,
    trolleyGreen: #34bcb2,
    trolleyGrey: #2c3e50,
)

:export {

}
// --------------------------------
