// *******************************************************
// Components SCSS File
// -------------------------------------------------------
// This file contains all our special component stylings
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------

.button {
    border: 6px;
    fill: #FE6768;
    stroke-width: 6px;
    stroke: #F15F64;
    cursor: pointer;
    &:hover {
        fill: #F15F64;
    }
}

.buttonArrow {
    fill: #fff;
    stroke-width: 0px;
}

.buttonArrowOutline {
    stroke: #F15F64;
    fill: #F15F64;
    stroke-width: 2px;
}

.link {
    cursor: pointer;
    fill: #fe6768;
    &:hover {
        fill: #f15f64;
    }
}

.linkActive {
    fill: #77b9db;
}

// --------------------------------
