// *******************************************************
// Fill SCSS File
// -------------------------------------------------------
// This file contains all our fill colors for the sass components
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
.plum {
    fill: #695585;
}
.lightPlum {
    fill: #796690;
}
.lavendar {
    fill: #B0A3BD;
}
.darkPurple {
    fill: #52416B;
}
.greyPurple {
    fill: #978DA1;
}

// --------------------------------
