// *******************************************************
// Fill SCSS File
// -------------------------------------------------------
// This file contains all our fill colors for the sass components
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------
._0 {
    opacity: 0;
}

._01 {
    opacity: 0.1;
}

._02 {
    opacity: 0.2;
}

._03 {
    opacity: 0.3;
}

._04 {
    opacity: 0.4;
}

._05 {
    opacity: 0.5;
}

._06 {
    opacity: 0.6;
}

._07 {
    opacity: 0.7;
}

._08 {
    opacity: 0.8;
}

._09 {
    opacity: 0.9;
}

._1 {
    opacity: 1;
}
// --------------------------------
