// *******************************************************
// Text SCSS File
// -------------------------------------------------------
// This file contains all our text styling for the sass components
// -------------------------------------------

// *******************************************
// Style Implementation
// -------------------------------------------

.speechBubble {
    font-family: Poppins;
    font-size: 56px;
    color: #58595B;
    fill: #58595B;
    stroke-width: 0px;
}

.speechBubbleError {
    font-family: Poppins;
    font-size: 56px;
    color: #fff;
    fill: #fff;
    stroke-width: 0px;
}

.button {
    font-family: Poppins;
    font-size: 56px;
    color: #fff;
    fill: #fff;
    stroke-width: 0px;
}

.dropdownPlaceholder {
    font-family: Poppins;
    font-size: 56px;
    color: #978DA1;
    fill: #978DA1;
    stroke-width: 0px;
}

.dropdownSelection {
    font-family: Poppins;
    font-size: 56px;
    // color: #231f20;
    fill: #231f20;
    stroke-width: 0px;
}

.footerText {
    font-family: Poppins;
    font-weight: thin;
    font-size: 56px;
    color: #fff;
}

.footerTextRed {
    font-family: Poppins;
    font-weight: thin;
    font-size: 56px;
    color: #FE6768;
}

// --------------------------------
